.form-box {
    display: flex;
    flex-direction: column;
    padding: 5px 0 5px 0;
}

.form-input {
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    padding: 5px;
}

.form-error {
    color: rgb(169, 68, 66);
}

.form-error input {
    border-color: rgb(132, 53, 52)
}