.panel {
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    margin-bottom: 5px;
}

.panel-heading {
    padding: 15px;
    background: #d9d9d9;
    font-size: 16px;
    border-bottom: 1px solid #bfbfbf;
}

.panel-footer {
    padding: 15px;
    background: #d9d9d9;
    font-size: 16px;
    border-top: 1px solid #bfbfbf;
}

.panel-body {
    padding: 15px;
    font-size: 14px;
}