.admin-form-toolbar {
    padding: 1px;
    border-bottom: 1px solid #D3D3D3;
    width: 50000px;
}

.admin-form-body {
    margin-top: 32px;
    padding: 4px
}

.admin-content{
    padding: 4px;
}

.admin-form-space {
    height: 34px;
}

#loader {
    background-image: url("/assets/grifix/kit/loader.gif");
    background-repeat: repeat-x;
    width: 100%;
    height: 4px;
    position: fixed;
    top: 0;
    display: none;
    z-index: 9999;
}

.admin-input-error input {
    background-color: #fff3f3 !important;
    border: 1px solid #FFA8A8 !important;
}

.admin-ico-16{
    width: 16px;
    height: 16px;
}

.admin-no-border{
    border: 0;
}
