.ico-shutDown-24 {
    background-image: url("/assets/grifix/admin/ico/icons8-shutdown-24.png");
    background-repeat: no-repeat;
    background-position: center;
}

.ico-start-24 {
    background-image: url("/assets/grifix/admin/ico/icons8-start-menu-24.png");
    background-repeat: no-repeat;
    background-position: center;
}

.ico-refresh-24 {
    background-image: url("/assets/grifix/admin/ico/icons8-refresh-24.png");
    background-repeat: no-repeat;
    background-position: center;
}

.ico-refresh-16 {
    background-image: url("/assets/grifix/admin/ico/icons8-refresh-16.png");
    background-repeat: no-repeat;
    background-position: center;
}

.ico-add-16 {
    background-image: url("/assets/grifix/admin/ico/icons8-add-file-16.png");
    background-repeat: no-repeat;
    background-position: center;
}

.ico-delete-16 {
    background-image: url("/assets/grifix/admin/ico/icons8-delete-16.png");
    background-repeat: no-repeat;
    background-position: center;
}

.ico-save-16 {
    background-image: url("/assets/grifix/admin/ico/icons8-save-16.png");
    background-repeat: no-repeat;
    background-position: center;
}

.ico-saveAndClose-16 {
    background-image: url("/assets/grifix/admin/ico/icons8-save-close-16.png");
    background-repeat: no-repeat;
    background-position: center;
}

.ico-edit-16 {
    background-image: url("/assets/grifix/admin/ico/icons8-edit-16.png");
    background-repeat: no-repeat;
    background-position: center;
}

.ico-tickBox-16 {
    background-image: url("/assets/grifix/admin/ico/icons8-tick-box-16.png");
    background-repeat: no-repeat;
    background-position: center;
}

.ico-confirm-16{
    background-image: url("/assets/grifix/admin/ico/icons8-checked-16.png");
    background-repeat: no-repeat;
    background-position: center;
}

.ico-cancel-16{
    background-image: url("/assets/grifix/admin/ico/icons8-cancel-16.png");
    background-repeat: no-repeat;
    background-position: center;
}

.ico-confirm-24{
    background-image: url("/assets/grifix/admin/ico/icons8-checked-24.png");
    background-repeat: no-repeat;
    background-position: center;
}

.ico-cancel-24{
    background-image: url("/assets/grifix/admin/ico/icons8-cancel-24.png");
    background-repeat: no-repeat;
    background-position: center;
}

.ico-undo-16{
    background-image: url("/assets/grifix/admin/ico/icons8-undo-16.png");
    background-repeat: no-repeat;
    background-position: center;
}

.ico-attach-16{
    background-image: url("/assets/grifix/admin/ico/icons8-attach-16.png");
    background-repeat: no-repeat;
    background-position: center;
}

.ico-move-16{
    background-image: url("/assets/grifix/admin/ico/icons8-resize-vertical-16.png");
    background-repeat: no-repeat;
    background-position: center;
}


